$mediaColor: #7c0fd1;
$mediaColorDeep: #4a1674;
$hostColor: #1ec0f2;
$hostColor50: #E9F9FE;
$hostColor700: #1588AC;
$hostColorDeep: #1685FE;
$softwareColor: #2686ec;
$edutechColor: #f41e92;
$nhtqColor: #f5851e;

$textColor: #011737;
$textColor-2: #8b8b8b;
$textColor-3: #5f5f5f;
$greenColor: #0dba35;
$tomatoColor: #ff4b26;
$blueColor: #167ee6;
$redColor: #e72a2a;
$warningColor: #ffb241;
