@import "@/styles/core/mixin.scss";

.contain-all {
	.know-avt {
		width: 3.2rem;
		height: 3.2rem;
	}

	.know-arrow {
		width: 1.8rem;
		height: 1.8rem;
	}
}

.line-clamp-3 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
}

.line-clamp-2 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}

// .knowledge-section {
//   background: var(
//     --bg-light,
//     linear-gradient(
//       90deg,
//       #d5eef6 0%,
//       #efeffc 19.5%,
//       #eaeeff 35%,
//       #c9d1ff 47.5%,
//       #ecf0ff 65.5%,
//       #dbebff 81%,
//       #fcecff 97.5%
//     )
//   );
// }
.img-quality {
	position: relative;
	padding-bottom: calc((300 / 450) * 100%);

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.swiper-knowledge .swiper-slide {
	width: calc((3.8 / 12) * 100%);
	border-radius: 2rem;
	overflow: hidden;
	transition: all 0.3s ease-in-out;

	background: rgba(255, 255, 255, 0.4);

	&:hover {
		background: white;

		.sec-knowledge-link {
			opacity: 1;
		}

		.bgBox {
			background: #fff;
		}
	}
}

.swiper-knowledge .swiper-pagination.swiper-pagination-bullets {
	bottom: -30px;
}

.swiper-knowledge .swiper-pagination-bullet {
	width: 10px !important;
	height: 10px !important;
	border-radius: 50%;
}

.swiper-knowledge .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #1fc0f2 !important;
}

.sec-knowledge {
	&-width {
		width: calc(100% * (6.2 / 12));
		margin-left: auto;
		margin-right: auto;

		@include max(1200px) {
			width: calc(100% * (10 / 12));
		}

		@include max(576px) {
			width: 100%;
		}
	}

	&-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.4rem;
	}

	&-link {
		opacity: 0;
		transition: 0.3s;
	}

	.knowledge-content {
		font-size: 1.4rem;
	}

	.text-date {
		font-size: 1.2rem;
	}

	.text-view {
		color: #1fc0f2;
	}

	.bgBox {
		top: 40%;
		transition: 0.3s;
	}
}

@media only screen and (max-width: 992px) {
	.swiper-knowledge .swiper-slide {
		width: calc((5 / 12) * 100%);
	}
}

@media only screen and (max-width: 576px) {
	.swiper-knowledge .swiper-slide {
		width: calc((8 / 12) * 100%);
	}
}

@media only screen and (max-width: 450px) {
	.swiper-knowledge .swiper-slide {
		width: calc((10 / 12) * 100%);
	}
}

[data-theme=dark] {
	.swiper-knowledge .swiper-slide {
		background: unset;

		.bgBox {
			top: 20%;
		}

		&:hover {
			@include min(1201px) {
				background: rgba(255, 255, 255, 0.01);
				/* pick */
				box-shadow: 0 0 1rem -0.5rem rgba(255, 255, 255, 0.16), 0 0 2rem 0.5rem rgba(255, 255, 255, 0.36) inset;

				.bgBox {
					background: unset;
				}
			}
		}
	}
}