.sec-form {
	position: relative;

	.sec-question-content {
		padding-top: 1.6rem;
		padding-bottom: 2.4rem;

		@media screen and (max-width: 576px) {
			padding-top: 0.8rem;
			padding-bottom: 1.6rem;
		}
	}

	.sec-com-separator {
		transform: translate(-50%, 0);
	}
}

.form-all {
	position: relative;
	border-radius: 2rem;
	// border: 0.5rem solid #d5eef6;
	// box-shadow: 0px 0px 0px 1px rgba(14, 63, 126, 0.06), 0px 1px 1px -0.5px rgba(42, 51, 70, 0.03), 0px 2px 2px -1px rgba(42, 51, 70, 0.04), 0px 3px 20.3px -1.5px rgba(42, 51, 70, 0.04), 0px 5px 5px -2.5px rgba(42, 51, 70, 0.03), 0px 10px 10px -5px rgba(42, 51, 70, 0.03), 0px 24px 24px -8px rgba(36, 49, 78, 0.03);
	background: #fff;
	text-align: center;
	padding: 9rem 2.4rem;
	width: calc(100% * (10 / 12) - 1.6rem);
	margin-left: auto;
	margin-right: auto;

	@media screen and (max-width: 1200px) {
		width: calc(100% - 4.8rem);
		padding: 7.2rem 2.4rem;
	}

	@media screen and (max-width: 576px) {
		padding: 4rem 2.4rem;
		border-width: 0.1rem;
		width: 100%;
	}

	@media screen and (max-width: 420px) {
		padding: 3.2rem 1.6rem;
	}
}

.form-header {
	margin-bottom: 3.2rem;

	@media screen and (max-width: 1200px) {
		margin-bottom: 2.4rem
	}
}

.form-title {
	width: calc(100% * (6 / 10) + 9rem);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	font-size: 4rem;
	font-weight: 700;
	line-height: 1.3;

	@media screen and (max-width: 1200px) {
		width: 100%;
		font-size: 2.4rem;
		width: calc(100% * (10 / 12));
	}

	@media screen and (max-width: 576px) {
		width: 100%;
		margin-bottom: 8px;
	}

	.txt {
		background: linear-gradient(0deg, #0eccff 4.36%, #1685fe 45.6%, #24adff 86.02%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.form-desc {
	font-size: 1.8rem;
	line-height: 1.3;

	@media screen and (max-width: 1200px) {
		font-size: 1.6rem;
	}
}

.form-content {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1.2rem;
	flex-direction: column;

	@media screen and (max-width: 576px) {
		gap: 0.8rem;
	}
}

.form-group {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	align-items: flex-start;
	width: calc(100% * (5 / 10));
	margin-left: auto;
	margin-right: auto;

	@media screen and (max-width: 1200px) {
		width: calc(100% * (8 / 12));
	}

	@media screen and (max-width: 576px) {
		width: 100%;
		gap: 0.4rem;
	}
}

.form-group-lable {
	font-size: 1.4rem;
	font-weight: 700;
}

.form-group__input {
	border-radius: 0.8rem;
	border: 0.1rem solid #d2d2d2;
	background: #fff;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1.2rem 1.4rem;
	gap: 0.8rem;

	@media screen and (max-width: 576px) {
		padding: 0.8rem 1.2rem;
		gap: 0.6rem;
	}

	.icon {
		width: 2rem;
		height: 2rem;

		@media screen and (max-width: 576px) {
			width: 1.6rem;
			height: 1.6rem;
		}
	}

	.form-input {
		font-size: 1.6rem;
		width: 100%;
		flex: 1;
		outline: none;
		background-color: transparent;

		@media screen and (max-width: 576px) {
			font-size: 1.4rem;
		}

		&::placeholder {
			color: inherit;
			transition: 0.2s all ease-in-out;
		}

		&:focus::placeholder {
			opacity: 0;
		}
	}
}

.form-group:nth-child(3) .form-group__input {
	border: unset;
	border-radius: unset;
	text-align: center;
	width: 100%;
	justify-content: center;
}

.form-group .form-label {
	font-size: 1.6rem;
	cursor: pointer;
	transition: 0.3s;

	&:hover {
		@media screen and (min-width: 1201px) {
			color: $hostColor;
		}
	}

	@media screen and (max-width: 576px) {
		font-size: 1.4rem;
	}
}

.form-group .form-btn {
	margin-left: auto;
	margin-right: auto;
	font-size: 1.8rem;
	font-weight: 600;
	display: flex;
	padding: 1.8rem 2.6rem;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	border-radius: 999px;
	background: #1ec0f2;
	color: #fff;
	box-shadow: 0px 2px 5px 0px rgba(103, 110, 118, 0.08), 0px 0px 0px 1px rgba(103, 110, 118, 0.16),
		0px 1px 1px 0px rgba(0, 0, 0, 0.12);

	@media screen and (max-width: 576px) {
		font-size: 1.6rem;
		padding: 1.2rem 1.6rem;
		gap: 1.2rem;
	}
}

.form-btn__img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.4rem;
	height: 2.4rem;
}

.form-dcor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

[data-theme=dark] {
	.form-all {
		background: rgba(255, 255, 255, 0.01);

		box-shadow: 0 0 2rem -0.5rem rgba(255, 255, 255, 0.36), 0 0 5rem -0.5rem rgba(255, 255, 255, 0.36) inset;
		// 0px 13px 20.9px 2px rgba(255, 255, 255, 0.36) inset

	}

	.form-group__input {
		background: rgba(255, 255, 255, 0.01);

		box-shadow: 0px 0px 11px -5px rgba(255, 255, 255, 0.16), 0px 0px 7.1px -1px rgba(255, 255, 255, 0.14) inset, 0px 0px 8.8px 4px rgba(255, 255, 255, 0.04) inset, 0px 0px 25px -5px rgba(255, 255, 255, 0.10) inset;
		border-color: transparent;
	}
}